.time-remaining {
	color: #f1faee;
	font-size: 20px;
}

#view-scores {
	color: #f1faee;
	font-size: 18px;
}

#feedback {
	font-size: 30px;
	font-weight: bold;
}

#game-over-text {
	font-size: 20px;
}

#initials {
	font-size: 24px;
}

#score {
	font-size: 24px;
}
